@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">What's up Sk8er!!</h1>
    <br />
        <h3 class="display-5">Todays Skaters </h3>
        <br />

<div class="row">
  <div class="column">
            <h3>Yuto Horigome</h3>
            <img src="~/img/yuto.jpg" alt="Snow" style="width:400px; height:300px;">
            <br />
            <br />
            <p>Yuto Horigome and Ishod Wair are influential figures in skateboarding known for their distinct styles and impressive skills. Horigome, from Japan, gained fame for his technical precision, winning a gold medal at the Tokyo 2020 Olympics. </p>
  </div>
  <div class="column">
            <h3>Ishod Wair</h3>
            <img src="~/img/ishod_nikesb.webp" alt="Forest" style="width:400px; height:300px;">
            <br />
            <br />
            <p>Ishod Wair, a Philadelphia native, is admired for his raw power and creative approach to the sport. Both riders continue to inspire with their innovation and passion, earning them widespread acclaim in the skateboarding community</p>
  </div>
  <div>
            
  </div>
  
  </div>
</div>

 

